body {
    background-color: #000000;
    height: 100vh;
    font-size: 1.6rem;
    background-image: url(./bgRPS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

#player,
#computer {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid #63855b;
}

#player:hover,
#computer:hover {
    border-radius: 60% 20% / 10% 40%;
    transform: rotateX(0);
    transition: all 0.5s ease-in-out;
}

/* Turning action buttons to grayscale */
.spin-btn {
    cursor: pointer;
    -webkit-filter: contrast(100%);
    -moz-filter: contrast(100%);
    filter: contrast(100%);
    transition: all 0.5s ease-in-out;
}

.spin-btn:hover {
    -webkit-filter: contrast(200%);
    -moz-filter: contrast(200%);
    filter: contrast(200%);
    transform: scale(1.1);
    border: 3px solid #4137a1;
}


.profiles {
    border: 2px solid #63855b;
    border-radius: 12px;
}

#rockBtn,
#paperBtn,
#scissorsBtn {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.main-title {
    font-size: 60px;
    color: #63855b;
    text-shadow: 2px 2px 2px #98b597;
}

#musicSelector {
    color: #99ce99;
    font-size: 18px !important;
}

.wrapper {
    margin-top: 8vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3b4f36;
    text-align: center;
    padding: 10px 0;
}

.copyright-text {
    font-size: 14px !important;
    color: #98b597;
}

/* Footer */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Turn Music On */
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* Player Scores */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Game Messaging Section */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


@media only screen and (max-width: 400px) {

    #rockBtn,
    #paperBtn,
    #scissorsBtn {
        border-radius: 50%;
        margin-top: 12px;
    }

    .main-title {
        font-size: 25px;
        color: #63855b;
        text-shadow: none;
    }

    body {
        font-size: 1rem;
        bottom: 400px;
    }
}